* {
    margin: 0;
}
body {
    background-color: lightgrey;
    text-align: center;
}
.container{
    width: 900px;
    margin: auto;
    overflow: auto;
    background-color: rgb(175, 178, 180);
    padding: 10px;
}
.besar{
    width: 500px;
    margin: auto;
    border: 5px solid white;
    float: left;
}
.deskripsi {
    width: 300px;
    height: 180px;
   margin-left: 550px;
   margin-top: 20px;
}
h2{
    padding: 10px;
}
p{
    text-align: justify;
    font-size: 15px;
}
.thumb {
    width: 100px;
    border: 2px solid white;

}
.thumb:hover{
    opacity: 50%;
    cursor: pointer;
}
@keyframes fade {
 to {
      opacity: 0;
    }
  }
.fade{
    opacity:1 ;
    animation: fade 0,8s;

  }
  